{% extends "tasks/layout.html" %}

{% block body %}
    <h1>
        Bem vindo<br>
        Faça sua lista de compras:
    </h1>

    <h2>Crie uma categoria</h2>
    <form action="{% url 'tasks:index' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Digite a categoria" name="categoria">
        <br><br>
        <input type="submit" value="Criar">
    </form>
    <br>

    <h2>Suas categorias:</h2>
    {% for categoria in categorias %}
        <h3>{{ categoria }}</h3>
        <form action="{% url 'tasks:index' %}" method="post">
            <input type="text" placeholder="Digite o produto" name="produto">
            <input type="number" placeholder="Digite a quantidade" name="quantidade">
            <br><br>
            <input type="submit" value="Criar">
        </form>
    {% endfor %}

{% endblock %}