{% extends "tasks/layout.html" %}

{% block body %}
    
    <h1>
        Bem vindo<br>
        Faça sua lista de compras:
    </h1>

    <p>Se você desejar deslogar:</p>
    <a href="{% url 'users:logout' %}">Log Out</a>

    <h2>Crie uma categoria</h2>
    <form action="{% url 'tasks:criar_categoria' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Digite a categoria" name="categoria">
        <br><br>
        <input type="submit" value="Criar">
    </form>
    <br>

    <h2>Suas categorias:</h2>
    {% for categoria in categorias %}
        <h3>{{ categoria }}</h3>
        <form action="{% url 'tasks:deletar_categoria' categoria.id %}" method="post" float="right">
            {% csrf_token %}
            <input type="submit" value="Deletar">
        </form>

        <form action="{% url 'tasks:criar_produto' categoria.id %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Digite o produto" name="produto">
            <input type="number" placeholder="Digite a quantidade" name="quantidade">
            <br><br>
            <input type="submit" value="Criar">
        </form>

        <h4>Produtos:</h4>
        {% for produto in categoria.produtos.all %}
            <p>{{ produto }} ({{ produto.quantidade }})</p>
            <form action="{% url 'tasks:deletar_produto' produto.id %}" method="post" float="right">
                {% csrf_token %}
                <input type="submit" value="Deletar">
            </form>
        {% endfor %}
        <br>
    {% endfor %}
{% endblock %}