{% extends "users/layout.html" %}

{% block body %}
    {% if message %}
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            {{ message }}
        </div>
    {% endif %}
    <br><br>
    <h1>Faça o login</h1>
    <form action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username..." name="username">
        <br><br>
        <input type="password" placeholder="Senha..." name="senha">
        <br><br>
        <input type="submit" value="Logar">
        <br>
        <br>
        <a href="cadastrar.html">Cadastrar</a>
    </form>
{% endblock %}